#bg {
    background-image: url(img/airballoon_bg_1.jpg);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
}

#bg2 {
    /*background-image: url(img/airballoon_bg_2.jpg);*/
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
    margin-top: -445px;
    position: relative;
}

#bg3 {
    width: 100vw;
    height: 100vh;
    margin-top: -302px;
    position: relative;
    background-color: skyblue;
}

#bg4 {
    width: 100vw;
    height: 105vh;
    position: relative;
    background-color: #EE9015;
}

#bg5 {
    width: 100vw;
    height: 50vh;
    position: relative;
    background-color: #E5CCFF;
}

#bg6 {
    width: 100vw;
    height: 5vh;
    position: relative;
    background-color: #404040;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.quote {
    background-color: rgb(220,220,220);
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.shade {
    box-shadow: 10px 5px 5px gray;
}

.sen1 {
    text-align: center;
    padding-top: 55px;
    font-weight: bold;
    font-size: 25px;
}

.sen2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.title_base {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    background: gray;
    margin-bottom: 0px;
    position: relative;
}

.sub_base {
    font-size: 20px;
    text-align: center;
    background: gray;
    color: black;
}

.comment_space {
   margin-left: 45px;
   margin-top: 70px;
}

.info_margin {
    margin-top: 50px;
}

#gallery {
    margin-top: 76px;
}

#info {
    margin-top: -56px;
}

#comment {
    margin-top: 36px;
}

#contact {
    margin-top: 100px;
}

#copyright {
    position: absolute; 
    bottom: 0; 
    width:100%; 
    text-align: center;
    color: white;
}

/*Small*/
@media screen and (max-width: 576px) {
    
    .title_base {
        font-size: 30px;
    }
    
    .sub_base {
        font-size: 20px;
    }
    
    /*Home*/
    .quote {
        height: 120px;
        margin-top: 80px;
    }
    
    .sen1 {
        padding-top: 10px;
        font-size: 15px;
    }
    
    .sen2 {
        font-size: 15px;
    }
    
    #bg2 {
        margin-top: -600px;
    }
    
    /*Gallery*/
    #gallery {
        margin-top: 15px;
    }
    
   #bg3 {
        margin-top: -520px;
    }
    
    /*Info*/
    .card_space {
        margin-top: 30px;
    }
    
    #bg3 {
        height: 185vh;
    }
    
    /*Comment*/
    #comment {
        margin-top: 0px;
    }
    
    .comment_space {
        margin-left: 53px;
    }
    
    #bg4 {
        height: 185vh;
    }
}

/*Medium*/
@media screen and (min-width: 768px) {
    
    /*Home*/
     #bg2 {
        margin-top: -300px;
    }
    
    .quote {
        width: 230px;
        height: 230px;
        margin-top: 150px;
    }
    
    .sen1 {
        padding-top: 55px;
        font-size: 30px;
    }
    
    .sen2 {
        font-size: 25px;
    }
    
    /*Gallery*/
    #bg3 {
        margin-top: -130px;
    }
    
    #gallery {
        margin-top: 130px;
    }
    
    /*Comment*/
    #bg4 {
        height: 95vh;
    }
    
    .comment_space {
        margin-left: 65px;
    }
    
    #comment {
        margin-top: 0px;
    }
}

/*Large+*/
@media screen and (min-width: 992px) {
    
    /*Home*/
    #bg2 {
        margin-top: 0px;
    }
    
    .quote {
        width: 400px;
        height: 400px;
        margin-top: 200px;
    }
    
    .sen1 {
        padding-top: 80px;
        font-size: 60px;
    }
    
    .sen2 {
        font-size: 50px;
    }
    
    /*Gallery*/
    
    #bg2 {
        background-color: gray;
    }
    
    #bg3 {
        margin-top: 0px;
    }
    
    #gallery {
        margin-top: 220px;
    }
    
    .w-100 {
        width: 60vw !important;
        margin: auto;
    }
    
    /*Info*/
    #bg3 {
        height: 80vh;
    }
    
    #info {
        margin-top: 50px;
    }
    
    /*Comment*/
    #bg4 {
        height: 80vh;    
    }
    
    #comment {
        margin-top: 76px;
    }
    
    .comment_space {
       margin-left: 110px;
    }
}